# Python
__pycache__/
*.pyc
.venv/
venv/
dist/
*.egg-info/

# C++
build/
bin/
obj/
out/
*.o
*.so
*.a
*.exe
*.dll

# Universal / IDE
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
*.log
.env*
# Node modules
node_modules/
build/
.docusaurus/
