/* src/components/Auth/UserProfile.module.css */
.userProfile {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: var(--ifm-navbar-link-color);
}

.userName {
  font-weight: bold;
  margin-right: 5px;
}